{% extends "template_base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../assets/css/navbar_other_page.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/article.css"/>

{% endblock %}

{% block content %}
    <div class="container">
        <h2>Articles</h2>
        <div class="grid">
        {% for article in articles %}
            <div class="card">
                <div class="card_img">
                    <img src="./images/articles/{{article.image}}">
                </div>
                <div class="card_body">
                    <h2 class="card_title">{{article.title}}</h2>
                    <p>{{article.chapo}}</p>
                    <p class="card_author author_link">Auteur : {{article.author}} <br/>le {{article.creation_date_fr}}</p>
                    <a href="index.php?where=displayPost&amp;id={{article.id}}" class="read_more">Voir plus</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}