{% extends "template_base.html.twig" %}

{% block stylesheets %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/article.css"/>
{% endblock %}

{# Banniére page d'accueil #}
{% block banner %}
    <section class="banner">    
        <div class="container">
            <div class="col-sm-6">
                <h2>Bienvenu</h2>
                <p>Ervin Bara, le développeur qu’il vous faut !</p>
                <a href="#ancre" class="btn btn-primary">Voir plus</a>
                <a class="btn btn-success" href="./images/cv.pdf">Lien vers mon cv</a>
            </div>
        </div>
    </section>
{% endblock %}

{# Contenu page d'accueil #}
{% block content %}
    <div class="container scroll-container">
        <h2 id="ancre">Dernières actualités</h2>
        <div class="grid">
        {% for article in articles %}
            <div class="card">
                <div class="card_img">
                    <img src="./images/articles/{{article.image}}">
                </div>
                <div class="card_body">
                    <h2 class="card_title">{{article.title}}</h2>
                    <p>{{article.content}}</p>
                    <p class="card_author author_link">Auteur : {{article.author}} <br/>le {{article.creation_date_fr}}</p>
                    <a class="read_more" href="index.php?where=displayPost&amp;id={{article.id}}">Voir plus</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    
{% endblock %}
