{% extends "admin_template_base.html.twig" %}

{# Faire un form plus propre  #}
{% block content %}
<header role="banner">
  <h1>Admin Panel</h1>
  <ul class="utilities">
    <br>
    <li class="dashboard"><a href="?where=administration">Dashboard</a></li>
    <li class="users"><a href="?where=home">Retour au site</a></li>
    <li class="logout warn"><a href="?where=logout">Déconnexion</a></li>
  </ul>
</header>

    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 ">
            <h1 class="m-0 font-weight-bold centered-text" id="Matches">Liste des articles</h1>
        </div>
        <div class="card-body row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="Name" scope="col">Date</th>
                    <th id="Name" scope="col">Titre</th>
                    <th id="Name" scope="col">Auteur</th>
                    <th id="Name" class="btn-add" scope="col">
                        <a href="?where=addPost">
                            <button  type="button" class="btn btn-primary">Ajouter un article</button>
                        </a>
                    </th> 
                </tr>
                </thead>
                <tbody>
                
                {% for article in articles %}
                    <tr>
                        <td>{{ article.creation_date_fr|e }}</td>
                        <td>{{ article.title|e }}</td>
                        <td>{{ article.user_id|e }}</td>
                        <td>
                            <div class="admin_action">
                                <form method="POST" action="?where=editPost">
                                    <input name="username" value="{{article.title}}" type="hidden">
                                    {# <input name="email" value="{{user.email}}" type="hidden"> #}
                                    <input name="id" value="{{article.id}}" type="hidden">
                                    <a href="?where=editPost&id={{article.id}}" class="btn btn-success">Modifier</a>
                                </form>

                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
